html {
    font-family: "Poppins";
}

.logo {
    font-size: 20px;
}

.header-background-image {
    background-image: url('./img/header-shapes-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.works {
    background-color: #e5e5e5;
}

.tags {
    background: #EBEBFF;
    color: #6070FF;
}

.see-button {
    border: 1px solid #396df2;
    color: #396df2;
}